.deeds-selector {
    background-color: rgba(238, 229, 229, 0.877);
    height: 2rem;
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 25px;
    width: 100%;
}
.deeds-option {
    background-color: rgba(238, 229, 229, 0.616);
}

.deeds-selector:focus {
    background-color: rgb(255, 255, 255);
}