.user-wrapper {
    background-color: #313335;
    background-image: url('https://i.postimg.cc/wMkJZQY3/image-201-1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 90px;
    min-height: 120px;
    position: relative;
    border-radius: 10px;
    border: 3px solid #325162;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
}

.open {
    border: 3px solid #00A3FF;
}

@media (width < 440px) {
    .user-wrapper {
        font-size: 0.7rem;
    }
}